@use "mixins";
@use "placeholders";
@use "vars";

.site-header {
  border-top: 5px solid vars.$grey-color-dark;
  border-bottom: 1px solid vars.$grey-color-light;
  min-height: vars.$spacing-unit * 1.865;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include mixins.relative-font-size(1.625);
  font-weight: 300;
  line-height: vars.$base-line-height * vars.$base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: vars.$grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: vars.$base-line-height * vars.$base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: vars.$text-color;
    line-height: vars.$base-line-height;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include mixins.media-query(vars.$on-palm) {
    position: absolute;
    top: 9px;
    right: calc(vars.$spacing-unit / 2);
    background-color: vars.$background-color;
    border: 1px solid vars.$grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: vars.$grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      margin-left: 20px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.site-footer {
  border-top: 1px solid vars.$grey-color-light;
  padding: vars.$spacing-unit 0;
}

.footer-heading {
  @include mixins.relative-font-size(1.125);
  margin-bottom: calc(vars.$spacing-unit / 2);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include mixins.relative-font-size(0.9375);
  color: vars.$grey-color;
  margin-left: calc(-#{vars.$spacing-unit} / 2);
  @extend %clearfix;
}

.footer-col {
  float: left;
  padding-left: calc(vars.$spacing-unit / 2);
}

.footer-col-1 {
  width: calc(40% - (#{vars.$spacing-unit} / 2));
}

.footer-col-2 {
  width: calc(30% - (#{vars.$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(30% - (#{vars.$spacing-unit} / 2));
  text-align: right;
}

@include mixins.media-query(vars.$on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (#{vars.$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(100% - (#{vars.$spacing-unit} / 2));
    text-align: left;
  }
}

@include mixins.media-query(vars.$on-palm) {
  .footer-col {
    float: none;
    width: calc(100% - (#{vars.$spacing-unit} / 2));
  }
}

.page-content {
  padding: vars.$spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include mixins.relative-font-size(2);
}

.container {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;

  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.post-list-heading {
  @include mixins.relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: vars.$spacing-unit;
  }
}

.post-meta {
  font-size: vars.$small-font-size;
  color: vars.$grey-color;
}

.post-link {
  display: block;
  @include mixins.relative-font-size(1.5);
}

.post-header {
  margin-bottom: vars.$spacing-unit;
}

.post-title {
  @include mixins.relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include mixins.media-query(vars.$on-laptop) {
    @include mixins.relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: vars.$spacing-unit;

  h2 {
    @include mixins.relative-font-size(2);

    @include mixins.media-query(vars.$on-laptop) {
      @include mixins.relative-font-size(1.75);
    }
  }

  h3 {
    @include mixins.relative-font-size(1.625);

    @include mixins.media-query(vars.$on-laptop) {
      @include mixins.relative-font-size(1.375);
    }
  }

  h4 {
    @include mixins.relative-font-size(1.25);

    @include mixins.media-query(vars.$on-laptop) {
      @include mixins.relative-font-size(1.125);
    }
  }

  p.center {
    text-align: center;
  }
}
